.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    background-color: #FFF;
    color: #000;
    box-shadow: 0 1px 5px #CCC;
    z-index: 5;
}
.navbarList {
    display: flex;
    flex-direction: row;
    font-family: 'Kumbh Sans', sans-serif;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}
.navbarList li {
    padding: 8px;
    cursor: pointer;
}
.navbarList a {
    text-decoration: none;
    color: #000;
}

.navbarList li a:hover {
    color: #3455FF;
}
.menuIcon {
    display: none;
}
.fa-home {
    font-size: 20px;
    padding: 0;
    margin-bottom: 6px;
}
@media screen and (max-width : 960px){
    .navbar {
        margin-bottom: 8px;
    }
    
    .navbarList {
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        right: -100%;
        transition: all 0.5s ease;
        z-index: 5;
      }
      .navbarList.active {
        right: 0;
        transition: all 0.5s ease;
        z-index: 5;
        background-color: rgba(256, 256, 256, 0.9);
        position: fixed;
      }
      .navbarList li {
          border-bottom: #345588 solid 1px;
          padding: 32px;
      }
      .menuIcon {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 24px;
          width: 90%;
          margin: auto;
          /* transform: translate(-100%, 30%); */
          cursor: pointer;
      }
      .fa-home {
          margin-bottom: 0;
      }
}